# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# dbt
target/
dbt_packages/
logs/

# Secrets / env
.env
*.key.json
service-account*.json

# OS
.DS_Store
Thumbs.db

# Data (generated locally, no versionar volúmenes grandes)
data-generation/output/
*.parquet
